
<!-- Scricpt to open Modal -->
<!-- <script type="text/javascript">
  $(document).ready(function(){
  $('.modal').modal('show');
});
  $(function () {
      $("#modal-add-icon li a").click(function () {
        console.log("did modal open?")
        $('#basicModal').modal('show');
      })
  });
</script> -->


<div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Resource</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <form id="resource-form" method="POST" action="/add">

            <div class="form-group">
              <label for="title">Title *</label>
              <input type="text" class="form-control" id="title" placeholder="Name of Resource" name="title" required>
            </div>

            <div class="form-group">
              <label for="description">Decription *</label>
              <textarea class="form-control" id="description" rows="3" name="description" required></textarea>
            </div>

            <div class="form-group">
              <label for="url">URL *</label>
              <input type="text" class="form-control" id="url" placeholder="Link to Resource" name="url" required>
            </div>

            <div class="form-group">
              <label for="photo_url">Thumbnail URL</label>
              <input type="text" class="form-control" id="photo_url" placeholder="URL for Image" name="photo_url">
            </div>


            <div class="form-group">
              <label for="category_id">Category *</label>
              <select class="form-control" id="category_id" name="category_id">
                <option selected>Select a Category</option>
                <option value="1">1-HTML</option>
                <option value="2">2-CSS</option>
                <option value="3">3-Javascript</option>
                <option value="4">4-Version Managment</option>
                <option value="5">5-Databases</option>
                <option value="6">6-Testing</option>
                <option value="7">7-Other</option>
              </select>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button class="btn btn-primary submit" id="addResource" type="submit">ADD</button>
            </div>
          </form>


      </div>
    </div>
  </div>
</div>


<!--Nav Bar-->
  <nav class="navbar fixed-bottom navbar-expand-lg">
    <a class="navbar-brand" href="/">
      <img src="/images/Foldr-white.png" alt="Foldr LOGO" width = "60" height="50" alt="Folder LOGO">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home"><i class="fa-solid fa-house"></i></a> <!--Home-->
        </li>
        <li class="nav-item">
          <button type="button" class="nav-button" data-toggle="modal" data-target="#exampleModal">
            <i class="fa-solid fa-folder-plus"></i>
          </button>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login"><i class="fa-solid fa-heart"></i></a>  <!--MyResources-->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users"><i class="fa-solid fa-user-gear"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users"><i class="fa-solid fa-right-from-bracket"></i></a> <!--logout-->
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <input id= "search-text" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button id= "search" class="btn btn-outline-success my-2 my-sm-0" type="button">Search</button>
      </form>
    </div>
  </nav>


</div>
