<!DOCTYPE html>
<html lang="en">

<head>
  <title>Log In</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="styles/landing.css">
  <link rel="stylesheet" href="/styles/resource.css">
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script src="/scripts/landing.js"></script>
  

</head>

<main>
    <section class="resource-details">
      <h1>Single Resource Page</h1>

      <div class="logo-container">
    

      </div>

      <h2 class="card-title"><%= resource.title %></h2>

      <div class="card" style="width: 18rem;">
        <img src="<%= resource.photo_url %>" class="card-img-top" alt="...">
        <div class="card-body">
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <p class="card-text"><%= resource.description %></p>
        </div>
      </div>

   

      <div class="like-comment-rate">
        <button class="btn likeButton-btn">Like</button>
        <button class="btn commentButton-btn">Comment</button>
        <button class="btn rateButton-btn">Rate</button>
      </div>
    </section>
  </main>

  <footer>
    <nav>
 

    </nav>
  </footer>

  <script> 
</script>
</body>

</html>