/* SCSS HEX */
$blue-munsell: #3891a6ff;
$feldgrau: #4c5b5cff;
$maize: #fde74cff;
$lightgray: #f7f7f7;

.navbar {
  // position:  ;
  color: white;
  background-color: $blue-munsell;
  font-size: 2em;

  .nav-link {
    font-size: 0.8em;
    padding: 0;
    color: white;

    &:hover {
      color: $maize;
    }
  }

  box-shadow: 0px -12px 13px 5px rgba(0,0,0,0.1);

}

.navbar-toggler-icon {
  color: white;
}

.nav-button {
  color: white;
  border: none;
  background-color: $blue-munsell;

  &:hover {
    color: $maize;
  }
}

.navbar {
  .collapse {
    .form-inline {
      .btn {
        &:hover {
          color: $maize;
        }
      }
    }
  }
}
