/* SCSS HEX */
$blue-munsell: #3891a6ff;
$feldgrau: #4c5b5cff;
$maize: #fde74cff;
$lightgray: #f7f7f7;

.navbar {
  color: white;
  background-color: $blue-munsell;
  font-size: 2em;
  .nav-link {
    color: white;
    &:hover {
    color: $maize;
    }
  };
}
.navbar-toggler-icon {
  color: white;
}
.nav-button {
  color:white;
  border: none;
  background-color: $blue-munsell;
  &:hover {
        color: $maize;
        }
}
.navbar{
  .collapse{
  .form-inline{
    .btn{
      &:hover {
        color: $maize;
        }
    }
  }
}
}
