.resource-details {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $lightgray;
  
    h1 {
      font-family: 'Fjalla One', sans-serif;
      color: $blue-munsell;
      }
  }
  
    .title {
      font-size: 5em;
    }
  
    .btn {
    background-color: $feldgrau;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    margin: 1em;
    }

    .resource-details {

    }

    .logo-container {

    }

    .like-comment-rate {
        
    }

